/* src/style/ForgotPasswordPage.css */

.forgot-password-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .forgot-password-container input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Butonlar arası boşluk */
  }

  
  
  .forgot-password-container button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Eklendi */
  }
  
  
  .forgot-password-container button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-container p {
    color: green;
    text-align: center;
    margin-top: 20px;
  }
  